---
import FormattedDate from "@/components/ui/FormattedDate.astro";
import ArrowIcon from "@/components/ui/ArrowIcon.astro";

interface Props {
  title: string;
  description: string;
  date: Date;
  url: string;
  tags?: string[];
  showArrow?: boolean;
}

const { 
  title, 
  description, 
  date, 
  url, 
  tags = [], 
  showArrow = true 
} = Astro.props;
---

<a
  href={url}
  class="post-item block p-2 my-2  no-underline rounded-lg hover:transition-all hover:dark:bg-neutral-800 relative group border border-stone-400 dark:border-neutral-800 px-5"
  data-filter-tags={tags.join(",")}
>
  <div>
    <div class="flex gap-2 items-center justify-between 3">
      <h4 class="my-0 mt-2">{title}</h4>
      {showArrow && <ArrowIcon class="mt-2 hidden md:block" />}
    </div>
    <p class="text-[16px] my-1">
      {description}
      <!-- <FormattedDate date={date} /> -->
    </p>
    {tags.length > 0 && (
      <div class="flex flex-wrap gap-2 mt-1 mb-2">
        {tags.map((tag) => (
          <span class="dark:bg-neutral-800 bg-stone-200 dark:text-neutral-200 text-stone-950 text-xs font-medium px-2 py-1 rounded-md">
            {tag}
          </span>
        ))}
      </div>
    )}
  </div>
</a> 